<md-dialog aria-label="Mango (Fruit)">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 class="non-selectable">{{translation.TRANSITION_TABLE}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon><i class="material-icons">close</i></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content class="transition-table-content">
			<div class="md-dialog-content">
				<table id="transition-table">
					<thead>
						<tr>
							<th>input</th>
							<th ng-repeat="symbol in table.alphabet">{{symbol}}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in table.tab.states">
							<td>{{row.name}}</td>
							<td ng-repeat="symbol in table.alphabet">{{symbol}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">{{translation.CANCEL}}</md-button>
			<md-button ng-click="apply()">{{translation.APPLY}}</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
