<md-dialog aria-label="Mango (Fruit)">
	<form ng-cloak>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 class="non-selectable">{{translation.TRANSITION_TABLE}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon><i class="material-icons">close</i></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content class="transition-table-content">
			<div class="md-dialog-content">
				<md-list id="transition-table">
					<md-list-item class="cell-header">
						<span class="state-column text-header">{{translation.STATE}}</span>
						<span ng-repeat="symbol in table.alphabet" class="text-header" flex>'{{symbol}}'</span>
						<span ng-if="!table.alphabet.length" flex></span>
						<span class="text-header accept-column">{{translation.ACCEPT}}</span>
					</md-list-item>
					<md-divider></md-divider>
					<div ng-repeat="state in table.tab.states">
						<md-list-item>
							<span class="cell-header state-column text-header">
								<span ng-if="state.start" class="start-arrow">&#129106;&nbsp;</span>
								<span>{{state.name}}</span>
							</span>
							<span ng-repeat="symbol in table.alphabet" flex>
								<span ng-repeat="item in table.rows[state.name][symbol]">
									<span ng-if="$first">{</span>
									<span ng-if="!$first">,</span>
									<span>{{item.name}}</span>
									<span ng-if="$last">}</span>
								</span>
								<span ng-if="!table.rows[state.name][symbol].length">{{preferences.emptySetSymbol}}</span>
							</span>
							<span ng-if="!table.alphabet.length" flex></span>
							<span class="accept-column">{{state.accept ? translation.YES : translation.NO | lowercase}}</span>
						</md-list-item>
						<md-divider></md-divider>
					</div>
				</md-list>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">{{translation.CANCEL}}</md-button>
			<md-button ng-click="apply()">{{translation.APPLY}}</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
