#canvas-box {
	padding: 0;
	height: calc(100% - 41px);
}

#canvas-box md-tabs {
	height: calc(100% + 8px);
}

#canvas-box svg.svg-filter {
	width: 0;
	height: 0;
	position: absolute;
}

#canvas-box md-tabs md-tabs-canvas,
#canvas-box md-tabs md-tabs-canvas md-pagination-wrapper {
	height: 32px;
}

#canvas-box md-tabs md-tab-item {
	padding: 5px 5px 5px 24px;
}

#canvas-box md-tabs md-tab-item:nth-last-child(2) {
	font-size: 22px;
	color: rgb(55,71,79);
	padding: 3px 0;
	pointer-events: auto;
}

#canvas-box md-tabs md-tab-item .add-tab {
	padding: 0 15px;
	cursor: pointer;
}

#canvas-box md-tabs md-tab-item .remove-tab {
	cursor: pointer;
	font-size: 10px;
	position: relative;
	bottom: 1px;
	opacity: 0;
	transition: opacity 0.3s;
}

#canvas-box md-tabs md-tab-item:hover .remove-tab {
	opacity: 1;
}

#canvas-box md-tabs md-tab-content {
	overflow: hidden;
}

#canvas-box md-tabs md-tab-content > div {
	height: 100%;
}

#canvas-box md-tabs md-tabs-content-wrapper {
	top: 33px;
}

#canvas-box md-toolbar {
	padding: 0;
	min-height: 32px;
	background-color: #f5f5f5;
	box-shadow: 0 -3px 5px -1px rgba(0,0,0,0.1), 0 0px 8px 0 rgba(0,0,0,0.14), 0 -1px 14px 0 rgba(0,0,0,0.0);
}

#canvas-box md-toolbar .md-toolbar-tools {
	height: 32px;
}

svg.canvas {
	position: absolute;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	top: -2px;
	left: -2px;
	background-image: url(/assets/img/dot.png);
	background-size: 15px 15px;
	background-color: #f8f8f8;
	filter: drop-shadow( -5px -5px 5px #000 );
}

.state {
	cursor: pointer;
	filter: url(#dropshadow);
}