html {
	font-family: 'Ubuntu', sans-serif;
}

body {
	min-width: 1120px;
	min-height: 720px;
}

.non-selectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#layout {
	height: calc(100% - 41px);
}

#bottom-toolbar .md-button {
	min-height: 26px;
	line-height: 26px;
}

#bottom-toolbar .md-button .material-icons {
	font-size: 22px;
}