<md-toolbar id="top-bar" class="md-primary">
	<div class="md-toolbar-tools">
		<span id="logo-caption" class="non-selectable md-hue-1">Visual Automaton</span>
		<span md-truncate flex class="md-hue-1"></span>
		<md-button class="md-icon-button translation-btn" ng-class="{active: currentTranslation == 'en'}" ng-click="getTranslation('en')" title="English" aria-label="English">
			<img src="assets/img/en.png" />
		</md-button>
		<md-button class="md-icon-button translation-btn" ng-class="{active: currentTranslation == 'uk'}" ng-click="getTranslation('uk')" title="Українська" aria-label="Ukrainian">
			<img src="assets/img/uk.png" />
		</md-button>
	</div>
</md-toolbar>