#top-bar {
	min-height: 41px;
}

#top-bar .md-toolbar-tools {
	height: 41px;
}

#top-bar .translation-btn {
	padding-top: 9px;
	margin: 0;
}

#top-bar .translation-btn:last-child {
	margin-right: -8px;
}

#top-bar .translation-btn img {
	width: 20px;
}

#top-bar .translation-btn.active img {
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 0px 4px 1px rgba(255,255,255,0.15);
}
